
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;
    color:  #666;
    font-size: 12px;
    }
    .banner{
        max-width: 100%;
    }
.main-header{
    background-color: #eac926;
    padding: 20px;
        
    }
    .copy-header {
        font-weight: 400px;
        font-size: 22x;
        max-width: none;
        margin:0;
            }
    .logo{
        width: 200px;
    }
       
    .barra{
        
        text-align: center;
                 
    }
    input{
        width:300px;
        height: 25px;
        border-radius: 5px;
        
    }
    .boton{
          text-align-last: center;
    }
    .derecho-navbar{
       text-align: left; 
    }
    .izquierdo-navbar{
        text-align: right;
       
    }
    

   .main-navbar ul{
    list-style: none;
    margin: o;
    padding: o;
   }
   .main-navbar a{
    text-decoration: none;
    color: #222222;
    font-size: 17px;
    padding: 5px 0;
    
   }
   .burguer-menu{
    background-color:#03264c;
    color:#ffff;
    display:block;
    max-width: 50px;
    padding: 15px ;
    border-radius: 10px;
    font-size: 18px;
    margin: auto;
   }
   
    @media (min-width:361){
        .main-header-top-bar{
         display: flex;
         
    }
    
    }

   .copy-header{
    max-width: 250px;
    text-align: right;
    

   }
   .main-navbar{
    display: flex;
    justify-content: space-between;
   }
   .main-navbar ul{
    display: flex;
   }
   .main-navbar li{
    margin: 0 5px;
   }
   @media (min-width:768px){
    .logo{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
            }

   }
    .main-header-top-bar .main-navbar {
        max-width: 100px;
        margin:auto;
        
    }

    .main-header-top-bar {
       align-items: center;
       
    }
    .copy-header{
        font-weight: 400;
        font: size 22px;
        max-width: none;
        
            }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li{
        margin: 0 10 px;
    }
    .main-navbar a{
        font-size: 19px;
    }

      
p{
    font-size:16px;
    
}
 h3, h4{
    font-size: 24px;
}
/* main*/
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Prodstacados{
    display: flex;
    justify-content: space-between;
 
}
article {
    margin: auto;  
    background-color: white; 
    width: 100%;
    
   
    
}
.prod{ 
    width: 100%;
    background-color: white;
    padding: 15px; 
    border-top: solid 1px #ebebeb;
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
main article img {
    width: 20%; 
}
.prod i {
    display: block;
    position: absolute; 
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: #39b54a; 
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;   
    padding: 5px;
}
.product {
    display: none; 
}


.descuento {
    color: #39b54a; 
    font-weight: 300; 
    max-width: 50%;
    font-size: 16px;
}
.precio {
    max-width: 50%; 
    font-size: 18px;
}

/* footer*/

.descrip{
 color: #03264C;
}

.copyr {
    text-align: center;
    width: 100%;
}

.text-footer {
    margin: 0 auto;
    max-width: 1024px;
    display:flex;
    flex-basis: 100%;
    flex-direction: row;
}
footer i{
    color:#03264C;
    font-size: 16px;
}
